[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
imageio = "*"
graphviz = "*"
dask = "*"
jupyterlab = "*"
opentraveldata = "*"
OpenTrepWrapper = "*"
neobase = "*"
dash = "*"

[requires]
python_version = "3.9"
